/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/************************************************************************/
/* COLORS                                                               */
/************************************************************************/

@primary-color: #20A7C9;
@indicator-color: @primary-color;

@brand-primary-dark1: #58bdd7;
@brand-primary-dark2: #90d3e4;
@brand-primary-light1: #58bdd7;
@brand-primary-light2: #90d3e4;
@brand-primary-light3: #c7e9f2;
@brand-primary-light4: #def2f7;
@brand-primary-light5: #f4fbfc;

@brand-secondary: #444E7C;
@brand-secondary-dark1: #737a9d;
@brand-secondary-dark2: #a2a7be;
@brand-secondary-dark3: #d0d3de;
@brand-secondary-light1: #737a9d;
@brand-secondary-light2: #a2a7be;
@brand-secondary-light3: #d0d3de;
@brand-secondary-light4: #e3e4eb;
@brand-secondary-light5: #f6f6f8;

@almost-black: #f7f7f7;
@gray-dark: #d9d9d9;
@gray-light: #d9d9d9;
@gray-light5: #666666;
@gray: #D3D3D3;
@gray-bg: #000;
@gray-heading: #D3D3D3;
@menu-hover: #f7f7f7;
@lightest: #fff;
@darkest: #000;

/**************************** text-specific *****************************/
@link: #66BCFE;
@link-hover: #8ccdfe;

/***************************** status colors ****************************/
@info: #66BCFE;
@info-dark1: #8ccdfe;
@info-dark2: #b3deff;
@info-light1: #8ccdfe;
@info-light2: #b3deff;

@danger: #E04355;
@danger-dark1: #e87280;
@danger-dark2: #f0a1aa;
@danger-light1: #e87280;
@danger-light2: #f0a1aa;

@success: #5AC189;
@success-dark1: #83d1a7;
@success-dark2: #ade0c4;
@success-light1: #83d1a7;
@success-light2: #ade0c4;

@warning: #FF7F44;
@warning-dark1: #ff9f73;
@warning-dark2: #ffbfa2;
@warning-light1: #ff9f73;
@warning-light2: #ffbfa2;

/************************************************************************/
/* OPACITIES                                                            */
/************************************************************************/
@opacity-light: 10%;
@opacity-medium-light: 35%;
@opacity-medium-heavy: 60%;
@opacity-heavy: 80%;

/************************************************************************/
/* TYPOGRAPHY                                                           */
/************************************************************************/
@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 600;

@font-size-xxs: 9px;
@font-size-xs: 10px;
@font-size-s: 12px;
@font-size-m: 14px;
@font-size-l: 16px;
@font-size-xl: 21px;
@font-size-xxl: 28px;

@font-family-sans-serif: 'Inter', Helvetica, Arial;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: 'Fira Code', 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;
@line-height-tight: 1;

/************************************************************************/
/* TRANSITIONS                                                          */
/************************************************************************/
@timing-normal: 0.3s;

/************************************************************************/
/* BORDER RADII                                                         */
/************************************************************************/
@border-radius-normal: 4px;
@border-radius-large: (4 * 2)px;

/************************************************************************/
/* GRID UNITS                                                           */
/************************************************************************/
@grid-unit: 4px;

/************************************************************************/
/* Z-INDEX                                                              */
/************************************************************************/
@z-index-max: 3000;
@z-index-dropdown: 11;
@z-index-above-dashboard-charts: 10;

/************************************************************************/
/* LEGACY IMPORTS                                                       */
/************************************************************************/
@import '../less/cosmo/variables.less';
